__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

.DS_Store
.vscode
.idea

*.md
!README.md

azure_*.py
sync_*.py
fix_*.py
trigger_*.py
deploy_*.py
complete_*.py
configure_*.py
github_*.py
