<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="python" 
                  arguments="-m gunicorn --bind=0.0.0.0:%HTTP_PLATFORM_PORT% --timeout=600 --workers=2 main:app"
                  stdoutLogEnabled="true" 
                  stdoutLogFile="\home\LogFiles\python.log" 
                  startupTimeLimit="300" 
                  requestTimeout="00:30:00">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
        <environmentVariable name="WORKABLE_API_KEY" value="%WORKABLE_API_KEY%" />
        <environmentVariable name="AZURE_OPENAI_API_KEY" value="%AZURE_OPENAI_API_KEY%" />
        <environmentVariable name="AZURE_OPENAI_ENDPOINT" value="%AZURE_OPENAI_ENDPOINT%" />
        <environmentVariable name="DATABASE_URL" value="%DATABASE_URL%" />
        <environmentVariable name="SESSION_SECRET" value="%SESSION_SECRET%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>